/* --- Dropdown COMMON styles                                                                                         */

.dd-menu *, .dd-button * {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* ^^^ Dropdown COMMON styles end                                                                                     */


/* --- BUTTON (tokens, input) styles                                                                                  */

.dd-button {
    width: 300px;
    min-height: 30px;
    background: #fff;
    border: 1px solid #d3d9de;
    border-radius: 2px;
    padding: 4px 25px 2px 3px;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
}

.dd-token, .dd-token-add {
    border-radius: 2px;
    padding: 3px 25px 3px 5px;
    display: inline-block;
    position: relative;
    font-size: 12.5px;
    width: auto;
    white-space: nowrap;
    margin-bottom: 2px;
}

.dd-token {
    background: #5181b8;
    margin-right: 2px;
    color: white;
}

.dd-token-add {
    display: none;
    background: #dae2ea;
    color: #55677d;
    border: 0;
    cursor: pointer;
}

.dd-token-remove-icon, .dd-token-add-icon {
    display: block;
    border: 0;
    transition: opacity 200ms linear;
    opacity: 0.45;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.dd-token-add-icon {
    background : url(/images/vk_icons.png) no-repeat 0 0;
}

.dd-token-remove-icon {
    background : url(/images/vk_icons.png) no-repeat 1px -160px;
}

.dd-token-remove-icon:hover {
    opacity: 1;
}

.dd-token-add:hover .dd-token-add-icon {
    opacity: 1;
}

.dd-input {
    height: 14px;
    padding: 4px 6px 7px;
    outline: 0;
    margin: 0;
    border: 0;
    width: calc(100% - 30px);
}

.dd-arrow {
    width: 21px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    background: url(/images/dropdown_arrow.png) no-repeat 2px 50%;
    position: absolute;
    right: 2px;
    top: 2px;
}

/* Manage button states */

.dd-multiselect {

}

.dd-with-selection .dd-token-add {
    display: inline-block;
}

.dd-with-selection .dd-input {
    position: absolute;
    bottom: -20px;
}

.dd-with-selection .dd-input:focus {
    position: relative;
    bottom: initial;
}

.dd-opened .dd-token-add {
    display: none;
}

/* ^^^ BUTTON (tokens, input) styles  END                                                                             */

/* --- MENU (list) styles                                                                                             */

.dd-menu {
    margin-top: -1px;
    z-index: 1;
    position: absolute;
    width: 300px;
    height: 400px;
    overflow: auto;
    border-left: 1px solid #e7e8ec;
    border-right: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
    box-sizing: border-box;
    display: none;
}

.dd-items-container {
    position: relative;
}

.dd-menu-item {
    cursor: pointer;
    display: block;
    background: #fff;
    border-top: 1px solid #e7e8ec;
    width: 100%;
    overflow: hidden;
    padding: 8px 12px;
    font-size: 12.5px;
    box-sizing: border-box;
    line-height: 15px;
}

.dd-menu-item.dd-menu-item-focus {
    background: #f0f2f5;
}

.dd-item-name {
    color: #42648b;
    font-weight: 700;
}

.dd-item-info {
    padding-top: 4px;
    line-height: 14px;
    color: #656565;
}

.dd-item-name, .dd-item-info {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dd-item-picture {
    vertical-align: top;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

/* Manage menu states */

.dd-menu.dd-opened {
    display: block;
}

/* ^^^ MENU (list) styles END                                                                                         */