doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropdown.css')
    link(rel='preload', href='https://fonts.googleapis.com/css?family=Roboto', onload='this.rel="stylesheet"')
  body
    block content
